<div class="container">
  
  
  
  
				  <!-- Copyrights
				  ============================================= -->
				  <div id="copyrights">
					  <div class="container">
			  
						  <div class="row col-mb-30">
			  
							  <div class="col-md-6 text-center text-md-start">
								  &copy; 2025 David Bueno Vallejo<br>
			  
							  </div>
			  
							  <div class="col-md-6 text-center text-md-end">
								  <div class="d-flex justify-content-center justify-content-md-end">
			  
									  <a href="https://twitter.com/davidbuenov" class="social-icon text-white h-bg-x-twitter">
										  <i class="fa-brands fa-x-twitter"></i>
										  <i class="fa-brands fa-x-twitter"></i>
									  </a>
									  <a href="https://linkedin.com/in/davidbueno"
										  class="social-icon text-white h-bg-linkedin">
										  <i class="fa-brands fa-linkedin"></i>
										  <i class="fa-brands fa-linkedin"></i>
									  </a>
									  <a href="https://instagram.com/in/davidbuenov"
										  class="social-icon text-white h-bg-instagram">
										  <i class="fa-brands fa-instagram"></i>
										  <i class="fa-brands fa-instagram"></i>
									  </a>
									  <a href="https://youtube.com/davidbuenov" class="social-icon  text-white h-bg-youtube">
										  <i class="fa-brands fa-youtube"></i>
										  <i class="fa-brands fa-youtube"></i>
									  </a>
								  </div>
			  
								  <div class="clear"></div>
			  
								  <i class="bi-envelope"></i> davidbuenov@gmail.com
							  </div>
			  
						  </div>
			  
					  </div>
				  </div><!-- #copyrights end -->
			  </div>