<div id="header-wrap">
			  <div class="container">
				  <div class="header-row">
  
					  <!-- Logo
					  ============================================= -->
					  <div id="logo">
						  <a href="/">
						  <!--
							  <img class="logo-default" srcset="/images/dbv/logos/logo.jpg, /images/dbv/logos/logo@2x.jpg 2x" src="/images/dbv/logos/logo@2x.jpg" alt="David Logo">
							  <img class="logo-dark" srcset="/images/dbv/logos/logo-dark.jpg, /images/dbv/logos/logo-dark@2x.jpg 2x" src="/images/dbv/logos/logo-dark@2x.jpg" alt="David Logo">
						   -->
						  <img class="logo-default" src="/images/dbv/logos/logo-dbv.png" alt="Logo David Bueno Vallejo">
        				  <img class="logo-dark" src="/images/dbv/logos/logo-dbv-dark.png" alt="Logo David Bueno Vallejo"> 
						 </a>
					  </div><!-- #logo end -->
  
					  
  
					  <div class="primary-menu-trigger">
						  <button class="cnvs-hamburger" type="button" title="Abrir Menu Movil">
							  <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
						  </button>
					  </div>
  
					  <!-- Primary Navigation
					  ============================================= -->
					  <nav class="primary-menu">
						  <ul class="menu-container">
							  <li class="menu-item">
								  <a class="menu-link" href="/">
									  <div>Inicio</div>
								  </a>
							  </li>
							    <li class="menu-item">
								  <a class="menu-link" href="/servicios.html">
									  <div>Servicios</div>
								  </a>
							  </li>
							    <li class="menu-item">
								  <a class="menu-link" href="/proyectos.html"><div>Proyectos</div></a>
								 
							  </li>
							     <li class="menu-item">
								  <a class="menu-link" href="/blog.html"><div>Blog</div></a>
								 
							  </li>
							  <li class="menu-item">
								  <a class="menu-link" href="/conferencias.html">
									  <div>Conferencias y Divulgación</div>
								  </a>
								  <ul class="sub-menu-container">
									  <li class="menu-item">
										  <a class="menu-link" href="/conferencias.html"><div>Conferencias</div></a>
									  </li>
									  <li class="menu-item">
										  <a class="menu-link" href="/formacion.html"><div>Formación</div></a>
									  </li>
									  <li class="menu-item">
										  <a class="menu-link" href="/conferencias.html#galeria"><div>Galería de Imágenes</div></a>
									  </li>
								  </ul>
							  </li>
							  <li class="menu-item">
                            	<a class="menu-link" href="#"><div>Sobre Mí</div></a>
                            		<ul class="sub-menu-container">
							  			<li class="menu-item">
								  			<a class="menu-link" href="/redes.html">
									  			<div>Redes</div>
											</a>
							  			</li>
							  			<li class="menu-item">
								  			<a class="menu-link" href="/experiencia.html">
									  			<div>Experiencia</div>
								  			</a>
							  			</li>
										<li class="menu-item">
											<a class="menu-link" href="/aficiones.html">
												<div>Aficiones</div>
											</a>
										</li>
										<li class="menu-item">
											<a class="menu-link" href="/premios.html">
												<div>Premios</div>
											</a>
										</li>
										<li class="menu-item">
											<a class="menu-link" href="/publicaciones.html">
												<div>Publicaciones</div>
											</a>
										</li>
									</ul>
							  </li>
							  <li class="menu-item">
								  <a class="menu-link" href="/contacto.html">
									  <div>Contacto</div>
								  </a>
							  </li>
			  </ul>    
					  </nav><!-- #primary-menu end -->
  
					  <form class="top-search-form" action="search.html" method="get">
						  <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
					  </form>
  
				  </div>
			  </div>
		  </div>
		  <div class="header-wrap-clone"></div>