<div class="container-fluid px-5">
  
			  <div class="row justify-content-between">
				 
  
				  <div class="col-12 col-md-auto">
  
					  <!-- Top Social
					  ============================================= -->
					  <ul id="top-social">
						  <li><a href="https://twitter.com/davidbuenov" class="h-bg-x-twitter"><span class="ts-icon"><i class="fa-brands fa-x-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
						  </li>
						  <li><a href="https://linkedin.com/in/davidbueno" class="h-bg-linkedin"><span
									  class="ts-icon"><i class="fa-brands fa-linkedin"></i></span><span
									  class="ts-text">Linkedin</span></a></li>
						  <li><a href="https://github.com/davidbuenov" class="h-bg-github"><span class="ts-icon"><i
										  class="fa-brands fa-github"></i></span><span
									  class="ts-text">Github</span></a></li>
						  <li><a href="https://instagram.com/davidbuenov" class="h-bg-instagram"><span
									  class="ts-icon"><i class="fa-brands fa-instagram"></i></span><span
									  class="ts-text">Instagram</span></a></li>
						  <li><a href="https://youtube.com/davidbuenov" class="h-bg-youtube"><span class="ts-icon"><i
										  class="fa-brands fa-youtube"></i></span><span class="ts-text">Youtube</span></a>
						  </li>
						  <li><a href="mailto:davidbuenov@gmail.com" class="si-email3"><span class="ts-icon"><i
										  class="icon-email3"></i></span><span
									  class="ts-text">davidbuenov@gmail.com</span></a></li>
					  </ul><!-- #top-social end -->
  
				  </div>
			  </div>
  
			  </div>
			  <!-- Datos Esctructurados 
	  ============================================= -->
  
	  <script type="application/ld+json">
		  {
			  "@context": "https://schema.org",
			  "@type": "BreadcrumbList",
			  "itemListElement": [{
				"@type": "ListItem",
				"position": 1,
				"name": "Inicio",
				"item": "https://davidbuenov.com/"
			  },{
				"@type": "ListItem",
				"position": 2,
				"name": "Formacion",
				"item": "https://davidbuenov.com/formacion.html"
			  },{
				"@type": "ListItem",
				"position": 3,
				"name": "Proyectos",
				"item": "https://davidbuenov.com/proyectos.html"
			  },
			  {
				  "@type": "ListItem",
				  "position": 4,
				  "name": "Experiencia",
				  "item": "https://davidbuenov.com/experiencia.html"
				},
				{
				  "@type": "ListItem",
				  "position": 5,
				  "name": "Aficiones",
				  "item": "https://davidbuenov.com/aficiones.html"
				},
				{
				  "@type": "ListItem",
				  "position": 6,
				  "name": "Premios",
				  "item": "https://davidbuenov.com/premios.html"
				},
				{
				  "@type": "ListItem",
				  "position": 7,
				  "name": "Publicaciones",
				  "item": "https://davidbuenov.com/publicaciones.html"
				},
				{
				  "@type": "ListItem",
				  "position": 8,
				  "name": "Contacto",
				  "item": "https://davidbuenov.com/contacto.html"
				}]
			}
	  </script>