---
layout: base
---
  <header id="header" class="full-header transparent-header" data-sticky-class="not-dark" data-mobile-sticky="true">
			
		</header><!-- #header end -->

        <!-- Site Content. Se incluira slider y content
		============================================= -->
        {{ content }}
       

        <!-- Footer
		============================================= -->
        <footer id="footer" class="dark">{% include footer.html %}</footer>
        {% include chatbot_widget.html %}
  